---
import * as section from '@/content/sections/about.md'
import importAssets from '@/utils/splitName'

const { title, name, offer, img } = section.frontmatter

const avatar = await importAssets(img, 'about')

let list = []

for (const { img, text } of offer) {
	const imgSrc = await importAssets(img, 'about')
	list.push({ img: imgSrc, text })
}
---

<div class="flex justify-between">
	<div><img src={avatar.src} alt="pofile picture" /></div>

	<div>
		<div>{title} {name}</div>
		<div>
			What can I Offer
			<ul>
				{
					list.map((item) => (
						<li class="flex">
							<img src={item.img.src} alt={item.text} />
							{item.text}
						</li>
					))
				}
			</ul>
		</div>
	</div>
</div>

<div class="prose relative mb-20 overflow-visible">
	<section.Content />
</div>
