---
import * as section from '@/content/sections/about.md'
import importAssets from '@/utils/splitName'

const { title, name, offer, img } = section.frontmatter

const avatar = await importAssets(img, 'about')

let list = []

for (const { img, text } of offer) {
	const imgSrc = await importAssets(img, 'about')
	list.push({ img: imgSrc, text })
}
---

<div class="flex justify-between gap-8 py-28">
	<div><img src={avatar.src} alt="pofile picture" /></div>

	<div>
		<!--leftArrow need a relative parrent -->
		<div class="relative">
			<div class="leftArrow rounded-lg border-gray-100 bg-gray-100 p-4">
				<div>{title}{' '}{name}</div>
				<div class="prose mb-20 overflow-visible">
					<section.Content />
				</div>
			</div>
		</div>
		<div class="rounded-3xl bg-white p-4 shadow-[0_6px_42px_0px_rgba(0,0,0,0.08)]">
			<h2 class="text-llWhite-600 text-xl">What can I Offer</h2>
			<ul class="grid grid-cols-2">
				{
					list.map((item) => (
						<li class="flex items-center gap-2 py-2">
							<div class="flex h-10 w-10 items-center justify-end">
								<img src={item.img.src} alt={item.text} />
							</div>
							{item.text}
						</li>
					))
				}
			</ul>
		</div>
	</div>
</div>

<style>
	.leftArrow::after {
		content: '';
		border: 20px solid transparent;
		position: absolute;
		border-right-color: inherit;
		border-left: 0;
		left: -19px;
		top: 25%;
		margin-top: -20px;
	}
</style>
